extends layouts/main

block content 
    h1 Editing #{movie.title}
    form(action=routes.editMovie(movie.id),method="post")
        input(type="text", placeholder="title", name="title", value=movie.title)
        input(type="number",placeholder="Year",name="year", value=movie.year)
        input(type="number",placeholder="Rating",name="rating", value=movie.rating)
        textarea(name="synopsis", placeholder="Synopsis")=movie.synopsis
        input(type="text",placeholder="Genres",name="genres", value=genres)
        input(type="submit", value="Submit")

    a(href=routes.deleteMovie(movie.id)) Delete Movie